statemachine/scraping.asl.json
{
    "Comment": "Scrape vlr.gg match pages",
    "StartAt": "Initialize Loop State",
    "States": {
        "Initialize Loop State": {
            "Type": "Pass",
            "Parameters": {
                "currentPage": 1,
                "maxPages": 10
            },
            "Next": "Wait Before Scraping"
        },
        "Wait Before Scraping": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Scrape Matches"
        },
        "Scrape Matches": {
            "Type": "Task",
            "Resource": "${ScrapeMatchesFunctionArn}:$LATEST",
            "Parameters": {
                "page.$": "$.currentPage"
            },
            "ResultPath": "$.lambdaResult",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Parse Lambda Output"
        },
        "Parse Lambda Output": {
            "Type": "Pass",
            "Parameters": {
                "currentPage.$": "$.currentPage",
                "maxPages.$": "$.maxPages",
                "lambdaResult.$": "$.lambdaResult",
                "parsedOutput.$": "States.StringToJson($.lambdaResult)"
            },
            "Next": "Check Continue Condition"
        },
        "Check Continue Condition": {
            "Type": "Choice",
            "Choices": [
                {
                    "And": [
                        {
                            "Variable": "$.parsedOutput.matches.total",
                            "NumericGreaterThanEquals": 50
                        },
                        {
                            "Variable": "$.currentPage",
                            "NumericLessThanPath": "$.maxPages"
                        }
                    ],
                    "Next": "Continue Processing"
                }
            ],
            "Default": "Stop Processing"
        },
        "Continue Processing": {
            "Type": "Pass",
            "Parameters": {
                "currentPage.$": "States.MathAdd($.currentPage, 1)",
                "maxPages.$": "$.maxPages",
                "lastResult.$": "$.lambdaResult",
                "lastMatchesCount.$": "$.parsedOutput.matches.total"
            },
            "Next": "Wait Before Scraping"
        },
        "Stop Processing": {
            "Type": "Pass",
            "Parameters": {
                "totalPagesProcessed.$": "$.currentPage",
                "finalMatchesCount.$": "$.parsedOutput.matches.total",
                "lastResult.$": "$.lambdaResult"
            },
            "Next": "Execution Complete"
        },
        "Execution Complete": {
            "Type": "Pass",
            "Parameters": {
                "totalPagesProcessed.$": "$.totalPagesProcessed",
                "finalMatchesCount.$": "$.finalMatchesCount",
                "lastResult.$": "$.lastResult"
            },
            "End": true
        }
    }
}
